.container {
    padding-top: 100px;
    padding-left: 0;
    margin: 0;

}

ul {
    padding-left: 0;
}


img {
    width: 100%;
    height: 200px;
}

li {
    display: inline;
}

.col-sm-3 {
    display: inline-block;    
}
.row {
    padding-bottom: 20px;
    }

div img {
    padding: 0px, 15px, 15px, 5px;
}
div .type {
    width: 100%;
}


